@charset "UTF-8";

body{
    background-color: lightskyblue;
   } 
   h1{ 
    color:blue;
    font-family: Arial;
    font-size: 40px;
   }
   h2{
    color: red;
   }
   p{ 
    text-align: justify;
   }